/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
//hide overlap arrow
//Arabic fonts Added
@import "../fonts/arabic-fonts/stylesheet.css";
//fontawsome added
@import "../fonts/fontawesome-pro-6/css/all.min.css";
.drakmode{
  root{
    --brand-color-3: #707070;
    --btn-outline-primary-border-color: #104A01;
    --brand-color-2: #006500;
    --brand-color-1: #104A01;
    --btn-outline-primary-hover-border-color: #006500;
    --btn-outline-secondary-color: #707070;
    --btn-link-color: #006500;
    --danger: #890707;
    --btn-outline-primary-hover-background-color: #E3F2D3;
    --btn-primary-hover-background-color: #006500;
    --btn-link-hover-color: #104A01;
    --btn-outline-primary-color: #104A01;
    --secondary: #707070;
    --btn-primary-background-color: #104A01;
    --btn-outline-secondary-border-color: #707070;
    --btn-outline-primary-hover-color: #006500;
    --btn-outline-secondary-hover-background-color: #e3f2d3;
    --btn-secondary-color: #707070;
    --primary: #104A01;
    --btn-primary-border-color: #104A01;
    --box-shadow-sm:   0 0 6px 0 rgba(0,0,0, 0.25);
    //Clay root
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    //Fontawesome root
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
    --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
    --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
    --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  }

  //@import fontaewsome
  //@import url(../fonts/css/all.css);

}
body{
  color: var(--body-color);
  transition: 2s background, color;
  webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  &.grayscale-100{
    transition: 2s background, color;
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
.ltr{
  text-align: start;
}
.rtl{
  text-align: start;
}
//?buuton
.btn-link {
  border-radius: 1px;
  color: var(--brand-color-2);
  font-weight: 400;
  text-decoration: none; }
.btn-link:hover {
  color: var(--brand-color-1);
  text-decoration: underline; }
.btn-link:focus, .btn-link.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  text-decoration: none; }
.btn-link:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
.btn-link:disabled, .btn-link.disabled {
  box-shadow: none;
  color: #6c757d;
  text-decoration: none; }
.btn-primary {
  background-color: var(--brand-color-1);
  border-color: var(--brand-color-1);
  color: #fff; }
.btn-primary:hover {
  background-color: #0069d9;
  border-color: var(--brand-color-2);
  color: #fff; }
.btn-primary:focus, .btn-primary.focus {
  background-color: #0069d9;
  border-color: var(--brand-color-2);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  color: #fff; }
.btn-primary:active {
  background-color: var(--brand-color-1);
  border-color: #005cbf;
  color: #fff; }
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }
.btn-primary[aria-expanded='true'], .btn-primary.active, .btn-primary.show,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--brand-color-2);
  border-color: #005cbf;
  color: #fff; }
.btn-primary:disabled, .btn-primary.disabled {
  background-color: var(--brand-color-2);
  border-color: var(--brand-color-2);
  color: #fff; }

.btn-outline-primary {
  border-color: var(--brand-color-1);
  color: var(--brand-color-1); }
.btn-outline-primary:hover {
  background-color: var(--brand-color-2);
  border-color: var(--brand-color-2);
  color: #fff; }
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
.btn-outline-primary:active {
  background-color: var(--brand-color-1);
  border-color: var(--brand-color-1);
  color: #fff; }
.btn-outline-primary[aria-expanded='true'], .btn-outline-primary.active, .btn-outline-primary.show,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--brand-color-1);
  border-color: var(--brand-color-1);
  color: #fff; }
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  background-color: transparent;
  color: var(--brand-color-1); }

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d; }
.btn-outline-secondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff; }
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
.btn-outline-secondary:active {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff; }
.btn-outline-secondary:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }
.btn-outline-secondary[aria-expanded='true'], .btn-outline-secondary.active, .btn-outline-secondary.show,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff; }
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  background-color: transparent;
  color: #6c757d; }
.signed-in .dropdown-toggle::after {
  display: none;
}
.signed-out .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-menu{
  min-width: 200px;
}
.dropdown-item{
  &:hover{
    background-color: rgba(16,71,1, 0.13);
    color: var(--brand-color-1);
    text-decoration: none;
  }
  &:active{
    background-color: var(--brand-color-1);
    color: var(--white);
    text-decoration: none;
  }
}

.portlet-title-text{
  text-align: center;
}
/*responsiveness */
@media (min-width: 576px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 540px;
  }
  .navbar-expand-lg .nav-right ul.nav-setting {
    width: 65vw;
  }
  header{
    background: var(--white);
    box-shadow: var(--box-shadow-sm);
    height: 80px;
    .navbar-light{
      .navbar-brand{
        display: flex;
        justify-content: flex-start;
        img{
          height: 48px;
        }
        .logo-text{
          display: flex;
          flex-direction: column;
          color: var(--black);
          font-size: 17px;
          line-height: 21px;
          padding: 1px 5px;
          font-family: serif;
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  footer {

    width: 100%;
    min-


    .footer-top {
      padding: 1rem;
      .footer-call-center {
        a {
          display: flex;
          justify-content: center;
          color: #0c4128;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          font-size: 1.25rem;
          font-weight: bold;
        }

        i {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }

        svg {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }
      }
      .footer-top-extra{
        display: flex;
        justify-content: space-between;
        .visitor{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1rem ;
            padding-bottom:.625rem;
          }
          .number{
            font-weight: bold;
          }
        }
        .social{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          .title{
            font-size:1rem ;
            padding-bottom:.625rem;
            text-align: center;
          }
          .icons{
            display: flex;
            justify-content: center;
            a{
              padding: 0 9px;
              color: var(--primary);
              &hover{
                color: var(--brand-color-2);
              }
              i,svg{
                font-size:2.25rem ;
              }
            }

          }

        }
        .apps{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1rem ;
            padding-bottom:.625rem;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li{
              a{
                img{
                  height: 3.1875rem;
                }
              }
            }
          }

        }
      }
      .footer-info-row{
        font-size: .8rem;
        text-align: center;
        span{
          #last_modify{
            background: var(--gray-300);
            padding: 2px;
            border: 1px solid var(--gray-400);
            border-radius: 2px;
          }
        }
      }
    }
    .footer-bottom{
      font-size: .8rem;
      background: var(--primary);
      display: flex;
      padding:13px 30px ;
      color: var(--white);
      justify-content: space-evenly;
      flex-direction: column;
    }
    .right-content{
      text-align: center;
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 8px;
          a{
            color: var(--white);
            &hover{
              color: var(--gray-700);
            }
          }
        }
      }
    }
    .left-content{
      text-align: center;
    }
  }


}

@media (min-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 720px;
  }

  header{
    background: var(--white);
    box-shadow: var(--box-shadow-sm);
    height: 80px;
    .navbar-light{
      .navbar-brand{
        display: flex;
        justify-content: flex-start;
        img{
          height: 48px;
        }
        .logo-text{
          display: flex;
          flex-direction: column;
          color: var(--black);
          font-size: 17px;
          line-height: 21px;
          padding: 1px 5px;
          font-family: serif;
          p{
            margin-bottom: 0;
          }
        }
      }.navbar-toggler{
         display: none;
       }
      .navbar-collapse{
        display: flex;
        flex-basis: auto;
        width: auto;
      }
    }
  }
  footer {
    width: 100%;



    .footer-top {
      padding: 1rem;
      .footer-call-center {
        a {
          display: flex;
          justify-content: center;
          color: #0c4128;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          font-size: 1.25rem;
          font-weight: bold;
        }

        i {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }

        svg {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }
      }
      .footer-top-extra{
        display: flex;
        justify-content: space-between;
        .visitor{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          .number{
            font-weight: bold;
          }
        }
        .social{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
            text-align: center;
          }
          .icons{
            display: flex;
            justify-content: center;
            a{
              padding: 0 9px;
              color: var(--primary);
              &hover{
                color: var(--brand-color-2);
              }
              i,svg{
                font-size:2.25rem ;
              }
            }

          }

        }
        .apps{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li{
              a{
                img{
                  height: 3.1875rem;
                }
              }
            }
          }

        }
      }
      .footer-info-row{
        text-align: center;
        span{
          #last_modify{
            background: var(--gray-300);
            padding: 2px;
            border: 1px solid var(--gray-400);
            border-radius: 2px;
          }
        }
      }
    }
    .footer-bottom{
      background: var(--primary);
      display: flex;
      padding:13px 30px ;
      color: var(--white);
      justify-content: space-evenly;
    }
    .right-content{
      text-align: end;
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 8px;
          a{
            color: var(--white);
            &hover{
              color: var(--gray-700);
            }
          }
        }
      }
    }
    .left-content{
      text-align: start;
    }
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }

  header{
    background: var(--white);
    box-shadow: var(--box-shadow-sm);
    height: 80px;
    .navbar-light{
      .navbar-brand{
        display: flex;
        justify-content: flex-start;
        img{
          height: 48px;
        }
        .logo-text{
          display: flex;
          flex-direction: column;
          color: var(--black);
          font-size: 17px;
          line-height: 21px;
          padding: 1px 5px;
          font-family: serif;
          p{
            margin-bottom: 0;
          }
        }
      }.navbar-toggler{
         display: none;
       }
      .navbar-collapse{
        display: flex;
        flex-basis: auto;
        width: auto;
      }
    }
  }

  footer {
    width: 100%;



    .footer-top {
      padding: 1rem 0;
      .footer-call-center {
        a {
          display: flex;
          justify-content: center;
          color: #0c4128;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          font-size: 1.25rem;
          font-weight: bold;
        }

        i {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }

        svg {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }
      }
      .footer-top-extra{
        display: flex;
        justify-content: space-between;
        .visitor{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          .number{
            font-weight: bold;
          }
        }
        .social{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
            text-align: center;
          }
          .icons{
            display: flex;
            justify-content: center;
            a{
              padding: 0 9px;
              color: var(--primary);
              &hover{
                color: var(--brand-color-2);
              }
              i,svg{
                font-size:2.25rem ;
              }
            }

          }

        }
        .apps{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li{
              a{
                img{
                  height: 3.1875rem;
                }
              }
            }
          }

        }
      }
      .footer-info-row{
        text-align: center;
        span{
          #last_modify{
            background: var(--gray-300);
            padding: 2px;
            border: 1px solid var(--gray-400);
            border-radius: 2px;
          }
        }
      }
    }
    .footer-bottom{
      background: var(--primary);
      display: flex;
      padding:13px 30px ;
      color: var(--white);
      justify-content: space-evenly;
    }
    .right-content{
      text-align: end;
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 8px;
          a{
            color: var(--white);
            &hover{
              color: var(--gray-700);
            }
          }
        }
      }
    }
    .left-content{
      text-align: start;
    }
  }

}

@media (min-width: 1200px) {
  .main{
    .container-fluid{
      padding: 0px!important;
    }
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }

  header{
    background: var(--white);
    box-shadow: var(--box-shadow-sm);
    height: 80px;
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1800px;
      .navbar-light{
        .navbar-brand{
          display: flex;
          justify-content: flex-start;
          img{
            height: 48px;
          }
          .logo-text-ar{
            display: flex;
            flex-direction: column;
            color: var(--black);
            font-size: 17px;
            line-height: 21px;
            padding: 1px 5px;
            font-family: serif;
            p{
              margin-bottom: 0;
            }
          }
          .logo-text-en{
            display: flex;
            flex-direction: column;
            color: var(--black);
            font-size: 17px;
            line-height: 21px;
            padding: 1px 5px;
            font-family: serif;
            p{
              margin-bottom: 0;
            }
          }
        }
        .navbar-toggler{
          display: none;
        }

        .navbar-collapse{
          display: flex;
          flex-basis: auto;
          width: auto;
          .dropdown-menu{
            min-width: 200px;
          }
          .nav-pills{
              i, svg{
                color: var(--brand-color-1);
                font-size:30px;
              }
            }
        }
      }
    }

  }
footer {
    background-image: linear-gradient(0deg, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.23999999463558197) 0%, rgba(255, 255, 255, 0.28999999165534973) 50.33009648323059%, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.5099999904632568) 100%);


  }
  .inner-page{

  .breadcrumb-wrapper{
    ol.breadcrumb{
      background-color: transparent;  border: 0px;
      .breadcrumb-item{
        .breadcrumb-link{
          color: var(--brand-color-2);
          &:hover{
            color: var(--brand-color-1);
          }
        }
      }
    }
  }
  .inner-page-services{
    .herobanner-service{
      top: 0px!important;
    }
  }

}

  footer {
    width: 100%;
    .footer-top {
      padding: 1rem 0;
      .footer-call-center {
        a {
          display: flex;
          justify-content: center;
          color: #0c4128;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          font-size: 1.25rem;
          font-weight: bold;
        }

        i {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }

        svg {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }
      }
      .footer-top-extra{
        display: flex;
        justify-content: space-between;
        .visitor{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          .number{
            font-weight: bold;
          }
        }
        .social{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
            text-align: center;
          }
          .icons{
            display: flex;
            justify-content: center;
            a{
              padding: 0 9px;
              color: var(--primary);
              &hover{
                color: var(--brand-color-2);
              }
              i,svg{
                font-size:2.25rem ;
              }
            }

          }

        }
        .apps{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li{
              a{
                img{
                  height: 3.1875rem;
                }
              }
            }
          }

        }
      }
      .footer-info-row{
        font-size: 1rem;
        text-align: center;
        span{
          #last_modify{
            background: var(--gray-300);
            padding: 2px;
            border: 1px solid var(--gray-400);
            border-radius: 2px;
          }
        }
      }
      .footer-nav{
        nav{
          ul{
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .footer-bottom{
      background: var(--primary);
      display: flex;
      padding:13px 30px ;
      color: var(--white);
      justify-content: space-evenly;
    }
    .right-content{
      text-align: end;
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 8px;
          a{
            color: var(--white);
            &hover{
              color: var(--gray-700);
            }
          }
        }
      }
    }
    .left-content{
      text-align: start;
    }
  }

}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }

  header{
    background: var(--white);
    box-shadow: var(--box-shadow-sm);
    height: 80px;
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1800px;
      .navbar-light{
        .navbar-brand{
          display: flex;
          justify-content: flex-start;
          img{
            height: 48px;
          }
          .logo-text-ar{
            display: flex;
            flex-direction: column;
            color: var(--black);
            font-size: 17px;
            line-height: 21px;
            padding: 1px 5px;
            font-family: serif;
            p{
              margin-bottom: 0;
            }
          }
          .logo-text-en{
            display: flex;
            flex-direction: column;
            color: var(--black);
            font-size: 17px;
            line-height: 21px;
            padding: 1px 5px;
            font-family: serif;
            p{
              margin-bottom: 0;
            }
          }
        }
        .navbar-toggler{
           display: none;
         }

        .navbar-collapse{
          display: flex;
          flex-basis: auto;
          width: auto;
          .nav-pills{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 0;
            max-width: 25%;
            flex: 0 0 25%;
            .nav-setting {
              background: #f5f5f5;
              padding: 16px;
              border-radius: 0 0 5px 5px;
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
              position: absolute;
              display: none;
              z-index: 0;
              left: 0;
              right: 0;
              top: 80px;
              margin-left: auto;
              margin-right: auto;
              width: 65vw; /* Need a specific value to work */


            }
            .nav-search {
              background: #f5f5f5;
              padding: 16px;
              border-radius: 0 0 5px 5px;
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
              position: absolute;
              display: none;
              z-index: 0;
              left: 0;
              right: 0;
              top: 80px;
              margin-left: auto;
              margin-right: auto;
              width: 65vw; /* Need a specific value to work */


            }
            i, svg{
              color: var(--brand-color-1);
              font-size:25px;
            }
          }
        }
      }
    }

  }
  .lfr-layout-structure-item-hero-banner,  footer {
    background-image: linear-gradient(0deg, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.23999999463558197) 0%, rgba(255, 255, 255, 0.28999999165534973) 50.33009648323059%, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.5099999904632568) 100%);


  }
  section.lfr-layout-structure-item-2f2c2f5b-cd90-b775-084c-73dcad61ae96.lfr-layout-structure-item-container {
    background-image: linear-gradient(180deg, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.23999999463558197) 0%, rgba(255, 255, 255, 0.28999999165534973) 50.33009648323059%, rgba(192.00000375509262, 202.00000315904617, 197.0000034570694, 0.5099999904632568) 100%);
  }
.home-page-eservices{
  .herobanner-service{
    top: -35px;
  }
}
  .inner-page{

    .breadcrumb-wrapper{
      ol.breadcrumb{
        background-color: transparent;  border: 0px;
        .breadcrumb-item{
          .breadcrumb-link{
            color: var(--brand-color-2);
            &:hover{
              color: var(--brand-color-1);
            }
          }
        }
      }
    }
    .inner-page-services{
      .herobanner-service{
        top: 0px!important;
      }
    }

  }

    footer {
    width: 100%;




    .footer-top {
      padding: 1rem 0;
      .footer-call-center {
        a {
          display: flex;
          justify-content: center;
          color: #0c4128;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        p {
          font-size: 1.25rem;
          font-weight: bold;
        }

        i {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }

        svg {
          padding: 0 1.25rem;
          font-size: 2.25rem;
        }
      }
      .footer-top-extra{
        display: flex;
        justify-content: space-between;
        .visitor{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          .number{
            font-weight: bold;
          }
        }
        .social{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
            text-align: center;
          }
          .icons{
            display: flex;
            justify-content: center;
            a{
              padding: 0 9px;
              color: var(--primary);
              &hover{
                color: var(--brand-color-2);
              }
              i,svg{
                font-size:2.25rem ;
              }
            }

          }

        }
        .apps{
          display:flex;
          flex-direction: column;
          color: var(--primary);
          text-align: center;
          .title{
            font-size:1.125rem ;
            padding-bottom:1.3125rem ;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            li{
              a{
                img{
                  height: 3.1875rem;
                }
              }
            }
          }

        }
      }
      .footer-info-row{
        font-size: 1rem;
        text-align: center;
        span{
          #last_modify{
            background: var(--gray-300);
            padding: 2px;
            border: 1px solid var(--gray-400);
            border-radius: 2px;
          }
        }
      }
      .footer-nav{
        nav{
          ul{
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            li{
              a{
                color: var(--primary);
                padding: .5rem;
              }
            }
          }
        }
      }
    }
    .footer-bottom{
      font-size: 1rem;
      background: var(--primary);
      display: flex;
      padding:13px 30px ;
      color: var(--white);
      justify-content: space-evenly;
      flex-direction: inherit;
    }
    .right-content{
      text-align: end;
      ul{
        list-style: none;
        display: flex;
        li{
          padding: 0 8px;
          a{
            color: var(--white);
            &hover{
              color: var(--gray-700);
            }
          }
        }
      }
    }
    .left-content{
      text-align: start;
    }
  }


}